{% extends 'base.html' %}
{% load static %}

{% block title %}Check - Sajhya Healthcare{% endblock %}

{% block content %}
<div class="container">
    <div class="auth-container">
        <div class="auth-card">
            <div class="auth-header">
                <h3>Welcome</h3>
                <p>Clinic Let get started </p>
            </div>
            <div class="auth-body">
                <div class="d-grid gap-2">
                    <a href="{% url 'login-clinic'%}" class="btn-gradient-a">
                        Login to your clinic
                    </a>
                </div>

                <hr class="my-4">

                <!-- Create New Clinic Button -->
                <div class="d-grid gap-2">
                    <a href="{% url 'signup-clinic'%}" class="btn-gradient">
                        Create New Clinic
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

{%endblock%}